<div id="print" class="row-fluid print_show">
  <div class="span12">
    <h3 class="center">SCU&#8226;classes</h3>
    <%= render 'schedule_summary', :table_classes => %w{table-condensed} %>

    <div class="calendar">
      <%= render 'calendar_view' %>
    </div>
  </div>
</div>
