<div class="row-fluid print_show">
  <div class="span12">
    <h1 class="center">SCU&#8226;classes</h1>
    <br>
    <%= render 'schedule_summary', :table_classes => %w{} %>
    <br>
    <h4 class="center">Thank you for using SCU&#8226;classes!</h4>
  </div>
</div>
