<div id="schedule" class="modal hide fade print_hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>My Schedule</h3>
  </div>
  <div class="modal-body">
    <p ng-if="sectionsAdded().length == 0">No classes added.</p>
    <div ng-if="sectionsAdded().length > 0">
      <%= render 'schedule_summary', :table_classes => %w{table-striped table-bordered table-condensed} %>
    </div>
  </div>
  <div ng-if="sectionsAdded().length > 0" class="modal-footer">
    <button class="btn btn-success" ng-click="print()"><i class="icon-print icon-white"></i> Print Schedule</button>
    <button class="btn" data-dismiss="modal">Close</button>
  </div>
</div>
