<table class="table <%= table_classes.join(' ') %>">
  <thead>
    <tr>
      <th>Class</th>
      <th>Name</th>
      <th>Class ID</th>
      <th>Seats Remaining</th>
      <th>Professor</th>
      <th>Days</th>
      <th>Times</th>
      <th>Location</th>
      <th>Units</th>
    </tr>
  </thead>
    <tr ng-repeat="section in sectionsAdded()" ng-if="section.selected">
      <td>{{section.name}}</td>
      <td>{{section.fullname}}</td>
      <td><a href="http://www.scu.edu/courseavail/class/?fuseaction=details&class_nbr={{section.id}}&term=<%= @term.number %>" title="Opens the CourseAvail listing for this section" target="_blank">{{section.id}}</a></td>
      <td>{{section.seats}}</td>
      <td><a class="course-evaluation" data-professor="{{section.instructors}}" title="Opens course evaluations for this professor">{{section.instructors}}</a></td>
      <td>{{section.days}}</td>
      <td>{{section.time_start.formatted}} - {{section.time_end.formatted}}</td>
      <td>{{section.location}}</td>
      <td>{{section.units}}</td>
    </tr>
</table>
