<div id="share" class="modal hide fade print_hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Share Schedule</h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span12">
        <p>To share your schedule with friends, you can send them the following link:</p>

        <br/>

        <h4><a href="{{shareLink()}}" target="_blank">{{shareLink()}}<a/></h4>

        <br/>

        <p>Although it would be neat, any changes you make to your schedule will <strong>not</strong> be updated unless you send a new link.</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
  </div>
</div>
