<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <h4>Classes</h4>
      <input id="course-add" type="text" placeholder='Type a class, like "RSOC 9"'/>
      <div id="courses-added"></div>
    </div>
    <div class="span6">
      <div class="calendar">
        <div class="days">
          <div class="hours">
            <% @hours.each do |h| %>
              <div class="hour"><%= ((h < 13) ? (h) : (h - 12)).to_s + ((h < 12) ? 'am' : 'pm') %></div>
            <% end %>
          </div>

          <% @days.each do |d,day| %>
            <div class="day" id="<%= d %>">
              <div class="day-title"><%= day %></div>
              <% @hours[0..(@hours.length - 3)].each do |h| %>
                <div class="hour"></div>
              <% end %>
              <div class="hour last"></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  var js_courses = <%= raw @js_courses.to_json %>;
</script>





<script id="courses-added-template" type="text/x-handlebars-template">
  <ul>
    {{#courses}}
    <li>{{name}} - {{fullname}} - {{id}} - <a class="course-evaluation" href="#">{{instructors}}</a></li>
    {{/courses}}
  </ul>
</script>

<script id="calendar-course" type="text/x-handlebars-template">
  <div class="course-block" style="top:{{course.style.top}}; height:{{course.style.height}};">
    <div class="name">{{course.name}}</div>
    <div class="times">{{formatTime course.time_start}} - {{formatTime course.time_end}}</div>
  </div>
</script>



<form id="course-evaluation-form" action="http://evaluations.scu.edu/" method="post" target="_blank">
  <input name="fac" type="hidden">
</form>