@mixin print_hide {
  @media print {
    display: none !important;
  }
}
@mixin print_show {
  @media screen {
    display: none !important;
  }
}

.print_hide {
  @include print_hide;
}
.print_show {
  @include print_show;
}

body.readonly-false {
  .readonly-show {
    display: none !important;
  }
  .readonly-hide {
    display: block !important;
  }
}
body.readonly-true {
  .readonly-show {
    display: block !important;
  }
  .readonly-hide {
    display: none !important;
  }
}

div.footer {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 10px;

  @include print_hide;

  .left {
    text-align: left;
  }
  .center {
    text-align: center;
  }
  .right {
    text-align: right;
  }
}
