.modal {
  width: 80%;
  margin: -250px 0 0 0;
  left: 10%;
  top: 50% !important;

  table {
    width: 100%;

    td {
      text-align: center;
    }
  }
}



.top {
  text-align: center;

  input {
    text-align: left;
    width: 200px;
  }
  .dropdown-menu {
    min-width: 212px;
    text-align: left;
  }

  .welcome {
    opacity: 1;
    height: 200px;
    padding-top: 20px;

    -webkit-transition: 1s;
    transition: 1s;
  }
  .welcome.hide-true {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
}





.course {
  background: #f7f7f7;
  border: 1px solid #ccc;
  margin-bottom: 15px;

  .inner {
    padding: 0 10px 10px;
    overflow: hidden;

    .section {
      border-left: 1px solid #333;
      background: white;
      margin-bottom: 10px;
      overflow: hidden;

      -webkit-transition: 200ms;
      transition: 200ms;

      label {
        margin: 0;
      }

      td {
        border-right: 1px solid black;
        text-align: center;
      }
      td:last-of-type {
        border: none;
      }

      .select {
        //display: none;
        width: 20px;
      }

      .schedule {
        width: 135px;
        .days {
          font-size: 20px;
        }
        .times {
          font-size: 14px;
        }
      }

      .seats {
        width: 80px;
        .seats {
          font-size: 20px;
        }
        .remaining {
          font-size: 10px;
        }
      }

      .moreinfo {
        width: 70px;

        .popover {
          width: 60%;

          td:nth-child(1) {
            text-align: right;
            border: none;
            font-weight: bold;
            vertical-align: top;
            white-space: nowrap;
          }
          td:nth-child(2) {
            text-align: left;
            padding-left:5px;
          }
        }
      }

      .units {
        width: 30px;
        .number {
          font-size: 20px;
        }
        .units {
          font-size: 10px;
        }
      }

      .info {
        text-align: left;
        padding-left: 5px;
      }
    }

    .section.validchoice-false {
      color: gray;
      background: #a9a9a9;
    }
    .section.validchoice-false:hover label {
      cursor: not-allowed;
    }

    p.scroll {
      text-align: center;
      margin: 0;
    }
  }
}
.course.show-false .inner {
  height: 35px;
  overflow: hidden;
}





div.calendar {
  $hourheight: 35px;
  position: fixed;
  width: 47.4%;

  .days {
    #S, #U {
      display: none;
    }

    .hours {
      float: left;
      width: 3.5%;
      margin-right: 0.5%;
      margin-top: 16px;

      .hour {
        height: $hourheight;
        text-align: right;
        font-size: 11px;
      }
    }

    .day {
      .day-title {
        height: 25px;
        text-align: center;
        font-weight: bold;
      }

      float: left;
      position: relative;
      width: ((100% - 4) / 5);

      .course-block {
        position: absolute;
        width: 92%;
        margin: 0 2%;
        padding: 0 2%;
        left: 0;
        font-weight: bold;

        .times {
          font-size: 10px;
          line-height: 12px;
        }
        .name {
          font-size: 12px;
        }
      }

      .hour {
        height: $hourheight - 1;
        background: #eee;
        border-top: 1px solid #ccc;
        margin: 0 1.5%;
      }
      .hour.last {
        border-bottom: 1px solid #ccc;
      }
    }
  }

  .bottom {
    position: relative;
    top: 10px;
    text-align: center;

    .green-true {
      color: green;
    }
    .green-false {
      color: red;
    }
  }
}
.spacer {
  height: 506px;
}












// default/fallback colors
.course {
  border-left: 3px solid green;
  .section.selected-true {
    border-left: 3px solid green;
  }
  .section:hover, .section.selected-true {
    background: #C6FFC4;
  }
}
.course-block {
  background: #42D692;
}


// real colors
$colors: #8AB5E3 #8BCB70 #E3A345 #DD8DDD #BCCC90 #E79586 #76D4CB #CDD048 #6BD98B #CFBDC4;
@for $i from 1 through length($colors) {
  $color: nth($colors, $i);
  .course-#{$i} {
    border-left: 3px solid $color;
    .section.selected-true {
      border-left: 3px solid $color !important;
    }
    .section:hover, .section.selected-true {
      background: lighten($color, 20%);
    }
  }
  .course-block.course-#{$i} {
    background: $color !important;
    border: none;
  }
}
