.top {
  @include print_hide;
}

@media print {
  #print {
    th, td {
      font-size: 12px;
    }

    // hide the seats remaining column
    th:nth-of-type(4), td:nth-of-type(4) {
      display: none;
    }

    .calendar {
      width: 100%;
      position: static;

      .course-block {
        border: 1px solid black;

        label {
          display: none;
        }
      }
    }
  }
}
